html {
    background-color: rgb(22, 22, 22);
}

.header_container {
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    background-color: rgb(22, 22, 22);
}

.header_symbol {
    grid-row: 1/1;
    grid-column: 1/1;
    background-color: rgb(22, 22, 22);
}

.header_text {
    grid-row: 1/1;
    grid-column: 2/auto;
    background-color: rgb(22, 22, 22);
    color: rgb(231, 161, 31);
    text-align: justify;
}

.main_box {
    border: 0.2em solid;
    border-color: rgb(114, 8, 8);
    background-color: rgb(22, 22, 22);
    color: #fff;
    padding: 0.5em;
}

.sub_headline {
    background-color: rgb(22, 22, 22);
    color: #fff;
    text-align: left;
}

.subheader {
    display: flex;
}

#user_data {
    flex: 0 0 auto;
    width: 75%;
}

#date_selection {
    flex: 0 0 auto;
    width: 25%;
}

.main_body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#button_container {
    display: flex;
    padding: 1%;
}

#selection_window {
    padding: 1%;
}

.edit_table_button {
    flex: 0 0 auto;
} 

.task_switch_container {
    display: block;
}

.main_table tbody {
    display: block;
    height: 40em;
    overflow: auto;
}

.main_table, td {
    border: 0.1em solid black;
    border-collapse: collapse;
}

.project_table tbody{
    display: block;
    height: 20em;
    overflow: auto;
}

th, caption {
    color: #fff;
}

thead {
    width: 100%;
    display: table;
}

tr:nth-child(even) input{
	background-color: aqua;
	color: #000;
}

tr:nth-child(2n-1) input{
	background-color: rgb(166, 255, 255);
	color: #000;
}

.swap_month_button {
    margin-left: 20%;
}

.hidden_column {
    display: none;
}

.table_entry_content {
    display: block;
    padding: 0.5em;
}

footer {
    left: 0em;
    bottom: 0em;
    right: 0em;
}

.bottom_element {
    display: flex;
    padding: 0.5em;
}

.project_table {
    flex: 0 0 auto;
}

button {
    margin: 0.5em;
}

label {
    margin: 0.5em;
}