.header_container {
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    background-color: rgb(42, 0, 156);
}

.header_symbol {
    grid-row: 1/1;
    grid-column: 1/1;
    background-color: rgb(42, 0, 156);
}

.header_text {
    grid-row: 1/1;
    grid-column: 2/auto;
    background-color: rgb(42, 0, 156);
    color: rgb(231, 161, 31);
    text-align: justify;
}

.main_box {
    border: 0.2em solid;
    border-color: rgb(114, 8, 8);
    background-color: rgb(167, 167, 167);
}

.sub_headline {
    background-color: rgb(167, 167, 167);
    text-align: left;
}

.subheader {
    display: flex;
}

#user_data {
    flex: 0 0 auto;
    width: 75%;
}

#date_selection {
    flex: 0 0 auto;
    width: 25%;
}

.main_body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#button_container {
    display: block;
    padding: 1%;
}

.task_switch_container {
    display: block;
}

.main_table, td {
    border: 0.1em solid black;
    border-collapse: collapse;
}

.swap_month_button {
    margin-left: 20%;
}

.hidden_column {
    display: none;
}

footer {
    left: 0em;
    bottom: 0em;
    right: 0em;
}

.bottom_display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.bottom_display:nth-child(3n-2) {
    grid-column: 1/2;
    grid-row: 1/2;
}

.bottom_display:nth-child(3n-1) {
    grid-column: 2/3;
    grid-row: 1/2;
}

.bottom_display:nth-child(3n) {
    grid-column: 3/4;
    grid-row: 1/2;
}

button {
    margin: 1em;
}

label {
    margin: 1em;
}